<% include ../partials/header %>
<section style="padding-bottom: 0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><%=campaign.state%> deserves a better <%=campaign.party%> than <%=campaign.name%></h2>
        <p><%= campaign.description %></p>
      </div>
    </div>
  </div>
</section>
<section style="padding-top: 0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 profile">
        <img class="img-responsive" src="<%= campaign.image %>">
      </div>
      <div class="col-md-6">
        <h3 class="text-secondary">Totals</h3>
        <!-- <h4>Support</h4>
        <div class="row">
          <h4 class="pull-left">$<%= campaign.general %> General Election</h4>
          <div class="text-right">
            <a class="btn btn-success" href="/campaigns/<%= campaign._id %>/comments/new">General</a>
          </div>
        </div>
        <div class="row">
          <h4 class="pull-left">$<%= campaign.primary %> Party Primary</h4>
          <div class="text-right">
            <a class="btn btn-success" href="/campaigns/<%= campaign._id %>/comments/new">Primary</a>
          </div>
        </div>
        <br/> -->
        <!-- <h4>DWNATE</h4> -->
        <!-- <div class="row">
          <h4 class="pull-left">-$<%= campaign.general %> General Election</h4>
          <div class="text-right">
            <a class="btn btn-danger" href="/campaigns/<%= campaign._id %>/comments/new">General</a>
          </div>
        </div> -->
        <!-- <h3 class="badge badge-info">$<%=campaign.primary %> </h3> -->
        <h2><span class="badge badge-secondary">$<%=campaign.primary %></span></h2>
        <h3 class="text-secondary">Info</h3>
        <br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="text-secondary">State</span> <%= campaign.state %></li>
          <li class="list-group-item"><span class="text-secondary">Party</span> <%= campaign.party %> </li>
          <li class="list-group-item"><span class="text-secondary">Chamber</span> <%= campaign.chamber %> </li>
        </ul>
        <br>
        <div class="">
          <a class="btn btn-success" href="/campaigns/<%= campaign._id %>/comments/new"><i class="fa fa-arrow-circle-down"></i> DWNATE</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="padding-top: 0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Dwnations</h4>
        <div class="well">
          <hr>
          <% campaign.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
              <div>
                <%= comment.text %> : -$<%= comment.amount %>
                <hr>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="map" style="height: 300px"></div>
      </div>
    </div>
  </div>
</section>
<script>
var map;
function initMap() {
var lat = parseFloat('<%= campaign.lat %>') || 0;
var lng = parseFloat('<%= campaign.long %>') || 0;
var center = {lat: lat, lng: lng };
console.log(center);
var map = new google.maps.Map(document.getElementById('map'), {
zoom: 8,
center: center,
scrollwheel: false
});
var contentString = `
<strong><%= campaign.name %><br />
<%= campaign.location %></strong>
<p><%= campaign.description %></p>
`
var infowindow = new google.maps.InfoWindow({
content: contentString
});
var marker = new google.maps.Marker({
position: center,
map: map
});
marker.addListener('click', function() {
infowindow.open(map, marker);
});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5HxR2IAiiLhXIuCQxctsKq7AVp1CaGmI&callback=initMap"></script>
<% include ../partials/footer %>
