<% include ../partials/header %>
<section style="padding-bottom: 0">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- <h2><%=campaign.state%> deserves a better <%=campaign.party%> than <%=campaign.name%></h2> -->
        <p><%= campaign.description %></p>
      </div>
    </div>
  </div>
</section>
<section style="padding-top: 0">
  <div class="campaign" >
    <div class="row">
      <div class="col-md-6 profile">
        <img class="img-responsive" src="<%= campaign.image %>">
        <h1><%=campaign.name%></h1>
        <br>
      </div>
        <div class="col-md-6 profile">
        <div class="container text-center">
          <h1 style="color:#199EB8">Total Raised</h1>
          <!--<h1><span class="badge badge-secondary">$<%=campaign.primary %></span></h1>-->
          <h2>$<%=campaign.primary%></h2>
          <div class="center">
            <a href="/placeholder" class="btn btn-outline-danger btn-lg">DWNATE</a>
          </div>
          <h3 class="text-secondary">Info</h3>
          <br>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="text-secondary">Party</span> <%= campaign.party %> </li>
            <li class="list-group-item"><span class="text-secondary">Chamber</span> <%= campaign.chamber %> </li>
            <li class="list-group-item"><span class="text-secondary">State</span> <%= campaign.state %></li>
            <li class="list-group-item"><span class="text-secondary">Tenure</span> <%= campaign.tenure %> </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
</section>
<section style="padding-top: 0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Dwnations</h4>
        <div class="well">
          <hr>
          <% campaign.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
              <div>
                <%= comment.text %> : -$<%= comment.amount %>
                <hr>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

  </div>
</section>

<script src="https://js.stripe.com/v3/"></script>
<script src="/scripts/payments.js"></script>
<script src="/scripts/store.js"></script>
<% include ../partials/footer %>
