<% include ../partials/header %>
<section style="padding-bottom: 0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><%=campaign.state%> deserves a better <%=campaign.party%> than <%=campaign.name%></h2>
        <p><%= campaign.description %></p>
      </div>
    </div>
  </div>
</section>
<section style="padding-top: 0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 profile">
        <img class="img-responsive" src="<%= campaign.image %>">
      </div>
      <div class="col-md-6">
        <h3 class="text-secondary">Totals</h3>
        <!-- <h4>Support</h4>
        <div class="row">
          <h4 class="pull-left">$<%= campaign.general %> General Election</h4>
          <div class="text-right">
            <a class="btn btn-success" href="/campaigns/<%= campaign._id %>/comments/new">General</a>
          </div>
        </div>
        <div class="row">
          <h4 class="pull-left">$<%= campaign.primary %> Party Primary</h4>
          <div class="text-right">
            <a class="btn btn-success" href="/campaigns/<%= campaign._id %>/comments/new">Primary</a>
          </div>
        </div>
        <br/> -->
        <!-- <h4>DWNATE</h4> -->
        <!-- <div class="row">
          <h4 class="pull-left">-$<%= campaign.general %> General Election</h4>
          <div class="text-right">
            <a class="btn btn-danger" href="/campaigns/<%= campaign._id %>/comments/new">General</a>
          </div>
        </div> -->
        <!-- <h3 class="badge badge-info">$<%=campaign.primary %> </h3> -->
        <h2><span class="badge badge-secondary">$<%=campaign.primary %></span></h2>
        <h3 class="text-secondary">Info</h3>
        <br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="text-secondary">State</span> <%= campaign.state %></li>
          <li class="list-group-item"><span class="text-secondary">Party</span> <%= campaign.party %> </li>
          <li class="list-group-item"><span class="text-secondary">Chamber</span> <%= campaign.chamber %> </li>
        </ul>
        <br>
        <div  class="input-group">
          <span class="input-group-addon">$</span>
          <input id="amount-box" name="amount" type="text" class="form-control" value=10 style="padding: 12px; font-weight: bold;">
        </div>

        <div id="main" class="loading">
          <div id="checkout">
            <div id="payment-request">
              <div id="payment-request-button"></div>
            </div>
          </div>
        </div>
        <!-- <div id="stripe-widget">
            <form action="/charge" method="post" id="payment-form">
            <div class="form-row">
              <label for="card-element">
                Credit or debit card
              </label>
              <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
              </div>

              <!-- Used to display form errors. -->
              <div id="card-errors" role="alert"></div>
            </div>

            <button>Submit Payment</button>
          </form>
        </div> -->
    </div>
</section>
<section style="padding-top: 0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Dwnations</h4>
        <div class="well">
          <hr>
          <% campaign.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
              <div>
                <%= comment.text %> : -$<%= comment.amount %>
                <hr>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="map" style="height: 300px"></div>
      </div>
    </div>
  </div>
</section>

<script src="https://js.stripe.com/v3/"></script>
<script src="/scripts/payments.js"></script>
<% include ../partials/footer %>
